/*sales hero section starts here*/
section.sales-hero-section{
    background-color: #0093dd;
}
h1.sales-hero-h1{
    color: #fff;
    font-weight: 900;
}
p.sales-hero-para{
    color: #fff;
    font-weight: 500;
    font-style: italic;
}
div.sales-hero-box{
    padding: 20px;
}
a.hero-a-tag{
    cursor: pointer;
    text-decoration: none;
}
button.btn.btn-hero-sales{
    width: 275px;
    height: 45px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background-color: #ffd246;
    color: #16325C;
    font-weight: 600;
}
/*featured cards 1 section starts here*/
div.featured-card-1{
    padding: 20px;
    text-align: center;
}
button.btn.btn-cards-1{
    font-family: montserrat;
    width: 185px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    background-color: #ffd246;
    color: #16325C;
    outline: none;
    box-shadow: 0 12px 18px #ffb90863;
    cursor: pointer;
}
div.cards-1{
    width: 100%;
    max-width: 250px;
    height: 550px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    /* box-shadow: rgba(0, 0, 0, 0.18) 0.4rem 0.4rem 1.6rem 0px; */
    box-shadow: 0 0px 8px #00000028;

}
/*featured cards 2 section starts here*/
div.featured-card-2{
    padding: 20px;
    text-align: center;
}
div.cards-2{
    width: 100%;
    max-width:300px;
    height: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.18) 0.4rem 0.4rem 1.6rem 0px;
}
/*why ism starts here*/
div.why-ism{
    padding: 20px;
    /* text-align: center; */
}
button.btn.why-ism-btn{
    font-family: montserrat;
    width: 185px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    background-color: #ffd246;
    color: #16325C;
    outline: none;
    box-shadow: 0 12px 18px #ffb90863;
    cursor: pointer;
}
/*why teleduce section starts here*/
div.why-teleduce-title h1{
    text-align: center;
}
section.why-teleduce-section{
    background-color: #f7f7f7;
}
div.why-teleduce{
  padding: 20px;
}
div.why-teleduce-content{
    width: 100%;
    max-width: 550px;
    height: 400px;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.18) 0.4rem 0.4rem 1.6rem 0px;
}
div.why-teleduce-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*customers slider section starts here*/
section.customers-slider{
    background-color: #f7f7f7;
}
/*signup section starts here*/
section.freetrial-signup-section{
    background-color: #ffd246;
}
div.freetrial-signup{
    padding: 20px;
}
div.signup-title h1{
    text-align: center;
    color: #fff;
}
input#signup-name.form-control,
input#signup-mobile.form-control
{   
    width: 275px;
    height: 45px;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
}
input#sales-signup-submit.btn.btn-sales-signup{
    font-family: montserrat;
    width: 275px;
    height: 45px;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    background-color: #0093dd;
    color: white;
    outline: none;
    cursor: pointer;
}
